@{
    ViewData["Title"] = "會員登錄";
    List<account> accounts = ViewBag.accounts;
}

@if (ViewBag.session != null)
{
    {<h1>會員</h1>
        <h2>@ViewBag.session </h2>
        <ul>

            <li>@Html.ActionLink("管理賬號", "Personal")</li>
            <li>@Html.ActionLink("修改密碼", "modify_passwd")</li>
            <li>@Html.ActionLink("約定", "Privacy")</li>
            <li>@Html.ActionLink("活動", "Privacy")</li>
        </ul>
        <form method="post" action="Home/LOGOUT">
            <button onclick="logout">登出</button>
        </form>
        <table class="table">
            @foreach (account user in accounts)
            {
                <tr>
                    <th>名字</th>
                    <td>@user.UName</td>
                    <th>賬號</th>
                    <td>@user.UserId</td>
                    <th>密碼</th>
                    <td>@user.Passwd</td>
                </tr>
            }
        </table>
    }
}
else
    @using (Html.BeginForm())

    {<h1 style=" color:dodgerblue">@ViewData["Title"]</h1>
    @Html.ActionLink("管理員登錄", "Index", "Manager", new { }, new { @class = "btn btn-outline-success", @style = " float:right" })
        <br/><br />
    <h2>@ViewBag.message</h2>

    <div>
        @Html.Label("賬號")
    </div>
    <div>
        <input type="text" id="inputPasswd" name="UserId" class="form-control" />
    </div>
    <div>
        @Html.Label("密碼")
    </div>
    <div>
        <input type="password" id="inputPasswd" name="Passwd" class="form-control" />
    </div>
    <div>
        <br/>
        <input type="submit" value="登錄" class=" btn btn-info" />
        @Html.ActionLink("注冊", "Rgistered", new { }, new { @class = "btn btn-info", @style = " float:right" })
        <!--第一個new可能放ID 刪掉第二個會沒反映-->
    </div>
}



