@{
    ViewData["Title"] = "會員登錄";
    List<account> accounts = ViewBag.accounts;
}

@if (ViewBag.session == null)
{
    @using (Html.BeginForm())

    {<h2>@ViewData["Title"]</h2>

    <h1>@ViewBag.message</h1>
    <div>
        @Html.Label("賬號")
    </div>
    <div>
        <input type="text" id="inputPasswd" name="UserId" class="form-control" />
    </div>
    <div>
        @Html.Label("密碼")
    </div>
    <div>
        <input type="text" id="inputPasswd" name="Passwd" class="form-control" />
    </div>

    <div>
        <input type="submit" value="登錄" /> @Html.ActionLink("注冊", "Rgistered", "Home")
    </div>
}
    @Html.ActionLink("管理員登錄", "Index", "Manager")
}
else
{ <h1>會員 </h1>
    <h2>@ViewBag.session </h2>
    <ul>

        <li>@Html.ActionLink("管理賬號", "Login", "UserLogin")</li>
        <li>@Html.ActionLink("修改密碼", "Privacy")</li>
        <li>@Html.ActionLink("約定", "Privacy")</li>
        <li>@Html.ActionLink("活動", "Privacy")</li>
    </ul>
    <form method="post" action="Home/LOGOUT">
        <button onclick="logout">登出</button>
    </form>
    <table class="table">
        @foreach (account user in accounts)
        {
           <tr>
               <th>名字</th>
               <td>@user.UName</td>
               <th>賬號</th>
               <td>@user.UserId</td>
               <th>密碼</th>
               <td>@user.Passwd</td>
           </tr>
                <tr>
                    <th>性別</th>
                    <td>@user.UGender</td>
                </tr>
                <tr>
                    <th>電子郵箱</th>
                    <td>@user.UEmail</td>
                </tr>
                <tr>
                    <th>社區地址</th>
                    <td>@user.UAddress</td>
                </tr>
        }
    </table>


}


