@{
    ViewData["Title"] = "管理員登錄";
    List<account> Maccounts = ViewBag.Maccounts;
    @model WebApplication5.Models.account
}

@if (ViewBag.Msession == null)
{
    <h1 style="color:green">@ViewData["Title"]</h1>
    @Html.ActionLink("會員登錄", "Index", "Home", new { }, new { @class = "btn btn-outline-info", @style = " float:right" })
    <br />
    <br />
    <h2 style="color:red">@ViewBag.Mmessage</h2>
    <form method="post" action="~/Manager/Index">
        <div class="form-group row">
            賬號 @Html.TextBoxFor(account => account.UserId, new { @class = "form-control", placeholder = "請輸入賬號" })
        </div>
        <div class="form-group row">
            密碼 @Html.TextBoxFor(account => account.Passwd, new { @class = "form-control", type = "password", placeholder = "請輸入密碼" })
        </div>
        <input type="submit" value="登錄" class=" btn btn-success" />
    </form>
}
else

{<h1>管理員</h1>
    <h2>姓名:@ViewBag.Msession </h2>
    <ul>
        <li>@Html.ActionLink("注冊", "Rgistered", "Manager")</li>
        <li>@Html.ActionLink("管理賬號", "Privacy")</li>
        <li>@Html.ActionLink("修改密碼", "Privacy")</li>
        <li>@Html.ActionLink("活動", "Privacy")</li>
        <li>@Html.ActionLink("登出", "Logout")</li>
    </ul>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>編號</th>
                <th>賬號</th>
                <th>密碼</th>
                <th>姓名</th>
                <th></th>
            </tr>
        <thead>
        <tbody>

            @foreach (account user in Maccounts)
            {
                <tr>
                    <th>@user.Fid</th>
                    <th>>@user.UserId</th>
                    <th>>@user.Passwd</th>
                    <th>>@user.UName</th>

                </tr>
            }
        </tbody>

    </table>


}


